.chats-page {
    width: 100%;
    margin-top: 1.3rem;
    /* padding: 0.5rem; */
    padding-left: 25%;
    /* border: 2px solid black; */
    display: flex;
    min-height: 90vh;
}

.chats {
    width: 32%;
    background-color: #fff;
    border: 1.5px solid var(--border-color);
    box-shadow: var(--shadow-light);
}
.chat {
    width: 50%;
    background-color: #fff;
    border: 1.5px solid var(--border-color);
    border-left: 0;
    box-shadow: var(--shadow-light);

    /* display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem; */
    position: relative;
}
.logged-user {
    font-weight: 600;
    border-bottom: 1.5px solid var(--border-color);
}

.user-chat {
    padding: 0.4rem 2rem;

    border-bottom: 1.5px solid var(--border-color);
}
.chat-input {
    border: 1.5px solid var(--border-color);
    display: flex;
    border-radius: 5rem;
    padding: 0 0.5rem;
    margin: 1rem;
    position: absolute;
    width: 95%;
    bottom: 0;
    left: 0;
}
.chat-input input {
    font-size: 1.1rem;
}
.chat-input input:focus::placeholder {
    color: rgb(178, 177, 177);
}
.message-box {
    border-radius: 5rem;
    background-color: #fff;
    color: rgb(48, 48, 48);
    margin: 0.5rem 0;
    padding: 1rem;
    width: max-content;
    max-width: 70%;
    background-color: var(--border-color);
}
.messages {
    height: 69vh;
    overflow: auto;
    padding: .3rem .8rem;
}
.messages::-webkit-scrollbar{
    width: 0;
}
.to {

    bottom: 5rem;
    background-color: #fff;
    border: 1.5px solid var(--border-color);
    left: 1.5rem;
}
.my {
    float: right;
}
.msg-time {
    position: absolute;
    left: 0.5rem;
}
